<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio_global</key>
	<dict>
		<key>audio_step0</key>
		<string></string>
		<key>audio_step1</key>
		<string></string>
		<key>audio_step2</key>
		<string></string>
		<key>audio_step3</key>
		<string></string>
	</dict>
	<key>stages</key>
	<array>
		<dict>
			<key>airplane</key>
			<dict>
				<key>airplane_image</key>
				<string></string>
				<key>airplane_audio_takeoff</key>
				<string></string>
				<key>airplane_audio_inflight</key>
				<string></string>
				<key>airplane_audio_landing</key>
				<string></string>
			</dict>
			<key>group</key>
			<array>
				<dict>
					<key>map</key>
					<dict>
						<key>map_image_filename</key>
						<string>stage1_map</string>
						<key>frames</key>
						<dict>
							<key>frameStep0</key>
							<dict>
								<key>x</key>
								<integer>0</integer>
								<key>y</key>
								<integer>0</integer>
								<key>width</key>
								<integer>754</integer>
								<key>height</key>
								<integer>682</integer>
							</dict>
						</dict>
					</dict>
					<key>countries</key>
					<array>
						<dict>
							<key>name</key>
							<string>North Korea</string>
							<key>placeholder_image_filename</key>
							<string>stage1_placeholder_NorthKorea</string>
							<key>active_image_filename</key>
							<string>stage1_active_NorthKorea</string>
							<key>inactive_image_filename</key>
							<string>stage1_inactive_NorthKorea</string>
							<key>scaleStep0</key>
							<integer>2</integer>
							<key>maxDistanceFromCenterStep2</key>
							<real>50</real>
							<key>placeholder_image_filename_flag</key>
							<string>stage1_placeholder_NorthKorea_flag</string>
							<key>active_image_filename_flag</key>
							<string>stage1_active_NorthKorea_flag</string>
							<key>inactive_image_filename_flag</key>
							<string>stage1_inactive_NorthKorea_flag</string>
							<key>frames</key>
							<dict>
								<key>frameStep0</key>
								<dict>
									<key>x</key>
									<integer>156</integer>
									<key>y</key>
									<integer>219</integer>
									<key>width</key>
									<integer>118</integer>
									<key>height</key>
									<integer>130</integer>
								</dict>
								<key>frameStep1</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>width</key>
									<real>139</real>
									<key>height</key>
									<real>152</real>
								</dict>
								<key>frameStep2Placeholder</key>
								<dict>
									<key>x</key>
									<integer>156</integer>
									<key>y</key>
									<integer>219</integer>
									<key>width</key>
									<integer>118</integer>
									<key>height</key>
									<integer>130</integer>
								</dict>
								<key>frameStep2GamePiece</key>
								<dict>
									<key>x</key>
									<real>591</real>
									<key>y</key>
									<real>469</real>
									<key>width</key>
									<real>139</real>
									<key>height</key>
									<real>152</real>
								</dict>
								<key>frameStep3</key>
								<dict>
									<key>x</key>
									<integer>156</integer>
									<key>y</key>
									<integer>219</integer>
									<key>width</key>
									<integer>118</integer>
									<key>height</key>
									<integer>130</integer>
								</dict>
							</dict>
							<key>framesflag</key>
							<dict>
								<key>frameStep0</key>
								<dict>
									<key>x</key>
									<integer>74</integer>
									<key>y</key>
									<integer>228</integer>
									<key>width</key>
									<integer>73</integer>
									<key>height</key>
									<integer>49</integer>
								</dict>
								<key>frameStep1</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>width</key>
									<integer>293</integer>
									<key>height</key>
									<integer>195</integer>
								</dict>
								<key>frameStep2GamePiece</key>
								<dict>
									<key>x</key>
									<integer>461</integer>
									<key>y</key>
									<integer>522</integer>
									<key>width</key>
									<integer>219</integer>
									<key>height</key>
									<integer>146</integer>
								</dict>
								<key>frameStep3</key>
								<dict>
									<key>x</key>
									<integer>74</integer>
									<key>y</key>
									<integer>228</integer>
									<key>width</key>
									<integer>73</integer>
									<key>height</key>
									<integer>49</integer>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>name</key>
							<string>South Korea</string>
							<key>placeholder_image_filename</key>
							<string>stage1_placeholder_SouthKorea</string>
							<key>active_image_filename</key>
							<string>stage1_active_SouthKorea</string>
							<key>inactive_image_filename</key>
							<string>stage1_inactive_SouthKorea</string>
							<key>scaleStep0</key>
							<real>2</real>
							<key>maxDistanceFromCenterStep2</key>
							<integer>50</integer>
							<key>placeholder_image_filename_flag</key>
							<string>stage1_placeholder_SouthKorea_flag</string>
							<key>active_image_filename_flag</key>
							<string>stage1_active_SouthKorea_flag</string>
							<key>inactive_image_filename_flag</key>
							<string>stage1_inactive_SouthKorea_flag</string>
							<key>frames</key>
							<dict>
								<key>frameStep0</key>
								<dict>
									<key>x</key>
									<real>162</real>
									<key>y</key>
									<real>326</real>
									<key>width</key>
									<real>117</real>
									<key>height</key>
									<real>123</real>
								</dict>
								<key>frameStep1</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>width</key>
									<real>159</real>
									<key>height</key>
									<real>168</real>
								</dict>
								<key>frameStep2Placeholder</key>
								<dict>
									<key>x</key>
									<real>162</real>
									<key>y</key>
									<real>326</real>
									<key>width</key>
									<real>117</real>
									<key>height</key>
									<real>123</real>
								</dict>
								<key>frameStep2GamePiece</key>
								<dict>
									<key>x</key>
									<real>826</real>
									<key>y</key>
									<real>151</real>
									<key>width</key>
									<real>159</real>
									<key>height</key>
									<real>168</real>
								</dict>
								<key>frameStep3</key>
								<dict>
									<key>x</key>
									<real>162</real>
									<key>y</key>
									<real>326</real>
									<key>width</key>
									<real>117</real>
									<key>height</key>
									<real>123</real>
								</dict>
							</dict>
							<key>framesflag</key>
							<dict>
								<key>frameStep0</key>
								<dict>
									<key>x</key>
									<integer>74</integer>
									<key>y</key>
									<integer>400</integer>
									<key>width</key>
									<integer>73</integer>
									<key>height</key>
									<integer>49</integer>
								</dict>
								<key>frameStep1</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>width</key>
									<integer>293</integer>
									<key>height</key>
									<integer>195</integer>
								</dict>
								<key>frameStep2GamePiece</key>
								<dict>
									<key>x</key>
									<integer>780</integer>
									<key>y</key>
									<integer>276</integer>
									<key>width</key>
									<integer>219</integer>
									<key>height</key>
									<integer>146</integer>
								</dict>
								<key>frameStep3</key>
								<dict>
									<key>x</key>
									<integer>74</integer>
									<key>y</key>
									<integer>400</integer>
									<key>width</key>
									<integer>73</integer>
									<key>height</key>
									<integer>49</integer>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>name</key>
							<string>Japan</string>
							<key>placeholder_image_filename</key>
							<string>stage1_placeholder_Japan</string>
							<key>active_image_filename</key>
							<string>stage1_active_Japan</string>
							<key>inactive_image_filename</key>
							<string>stage1_inactive_Japan</string>
							<key>scaleStep0</key>
							<real>1.25</real>
							<key>maxDistanceFromCenterStep2</key>
							<real>50</real>
							<key>placeholder_image_filename_flag</key>
							<string>stage1_placeholder_Japan_flag</string>
							<key>active_image_filename_flag</key>
							<string>stage1_active_Japan_flag</string>
							<key>inactive_image_filename_flag</key>
							<string>stage1_inactive_Japan_flag</string>
							<key>frames</key>
							<dict>
								<key>frameStep0</key>
								<dict>
									<key>x</key>
									<real>129</real>
									<key>y</key>
									<real>152</real>
									<key>width</key>
									<real>422</real>
									<key>height</key>
									<real>484</real>
								</dict>
								<key>frameStep1</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>width</key>
									<real>240</real>
									<key>height</key>
									<real>276</real>
								</dict>
								<key>frameStep2Placeholder</key>
								<dict>
									<key>x</key>
									<real>129</real>
									<key>y</key>
									<real>152</real>
									<key>width</key>
									<real>422</real>
									<key>height</key>
									<real>484</real>
								</dict>
								<key>frameStep2GamePiece</key>
								<dict>
									<key>x</key>
									<real>748</real>
									<key>y</key>
									<real>397</real>
									<key>width</key>
									<real>240</real>
									<key>height</key>
									<real>276</real>
								</dict>
								<key>frameStep3</key>
								<dict>
									<key>x</key>
									<real>129</real>
									<key>y</key>
									<real>152</real>
									<key>width</key>
									<real>422</real>
									<key>height</key>
									<real>484</real>
								</dict>
							</dict>
							<key>framesflag</key>
							<dict>
								<key>frameStep0</key>
								<dict>
									<key>x</key>
									<integer>491</integer>
									<key>y</key>
									<integer>391</integer>
									<key>width</key>
									<integer>73</integer>
									<key>height</key>
									<integer>49</integer>
								</dict>
								<key>frameStep1</key>
								<dict>
									<key>x</key>
									<integer>0</integer>
									<key>y</key>
									<integer>0</integer>
									<key>width</key>
									<integer>293</integer>
									<key>height</key>
									<integer>195</integer>
								</dict>
								<key>frameStep2GamePiece</key>
								<dict>
									<key>x</key>
									<integer>780</integer>
									<key>y</key>
									<integer>522</integer>
									<key>width</key>
									<integer>219</integer>
									<key>height</key>
									<integer>146</integer>
								</dict>
								<key>frameStep3</key>
								<dict>
									<key>x</key>
									<integer>491</integer>
									<key>y</key>
									<integer>391</integer>
									<key>width</key>
									<integer>73</integer>
									<key>height</key>
									<integer>49</integer>
								</dict>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>map</key>
					<dict/>
					<key>countries</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
