<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introduction</key>
	<dict>
		<key>airplane</key>
		<dict>
			<key>animationtime</key>
			<string>16.0</string>
		</dict>
		<key>path</key>
		<array>
			<dict>
				<key>x</key>
				<string>1024</string>
				<key>y</key>
				<string>215</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>528</string>
				<key>y1</key>
				<string>347</string>
				<key>px1</key>
				<string>913</string>
				<key>py1</key>
				<string>278</string>
				<key>px2</key>
				<string>720</string>
				<key>py2</key>
				<string>355</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>0</string>
				<key>y1</key>
				<string>356</string>
				<key>px1</key>
				<string>370</string>
				<key>py1</key>
				<string>348</string>
				<key>px2</key>
				<string>168</string>
				<key>py2</key>
				<string>336</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>0</string>
				<key>y1</key>
				<string>710</string>
				<key>px1</key>
				<string>-200</string>
				<key>py1</key>
				<string>354</string>
				<key>px2</key>
				<string>-100</string>
				<key>py2</key>
				<string>710</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>528</string>
				<key>y1</key>
				<string>680</string>
				<key>px1</key>
				<string>168</string>
				<key>py1</key>
				<string>730</string>
				<key>px2</key>
				<string>370</string>
				<key>py2</key>
				<string>710</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>1023</string>
				<key>y1</key>
				<string>625</string>
				<key>px1</key>
				<string>720</string>
				<key>py1</key>
				<string>640</string>
				<key>px2</key>
				<string>913</string>
				<key>py2</key>
				<string>620</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>1023</string>
				<key>y1</key>
				<string>437</string>
				<key>px1</key>
				<string>1123</string>
				<key>py1</key>
				<string>630</string>
				<key>px2</key>
				<string>1223</string>
				<key>py2</key>
				<string>425</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>815</string>
				<key>y1</key>
				<string>545</string>
				<key>px1</key>
				<string>938</string>
				<key>py1</key>
				<string>485</string>
				<key>px2</key>
				<string>866</string>
				<key>py2</key>
				<string>520</string>
			</dict>
			<dict>
				<key>x1</key>
				<string>719</string>
				<key>y1</key>
				<string>510</string>
				<key>px1</key>
				<string>766</string>
				<key>py1</key>
				<string>568</string>
				<key>px2</key>
				<string>719</string>
				<key>py2</key>
				<string>555</string>
			</dict>
		</array>
	</dict>
	<key>stages</key>
	<array>
		<dict>
			<key>groups</key>
			<array>
				<dict>
					<key>start</key>
					<dict>
						<key>airplane</key>
						<dict>
							<key>animationtime</key>
							<string>5.0</string>
						</dict>
						<key>path</key>
						<array>
							<dict>
								<key>x</key>
								<string>719</string>
								<key>y</key>
								<string>510</string>
							</dict>
							<dict>
								<key>x1</key>
								<string>-100</string>
								<key>y1</key>
								<string>510</string>
								<key>px1</key>
								<string>452</string>
								<key>py1</key>
								<string>340</string>
								<key>px2</key>
								<string>175</string>
								<key>py2</key>
								<string>390</string>
							</dict>
						</array>
					</dict>
					<key>end</key>
					<dict>
						<key>airplane</key>
						<dict>
							<key>animationtime</key>
							<string>5.0</string>
						</dict>
						<key>path</key>
						<array>
							<dict>
								<key>x</key>
								<string>-100</string>
								<key>y</key>
								<string>360</string>
							</dict>
							<dict>
								<key>x1</key>
								<string>540</string>
								<key>y1</key>
								<string>360</string>
								<key>px1</key>
								<string>221</string>
								<key>py1</key>
								<string>522</string>
								<key>px2</key>
								<string>540</string>
								<key>py2</key>
								<string>460</string>
							</dict>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
