<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introductionpath</key>
	<array>
		<dict>
			<key>groups</key>
			<array>
				<dict>
					<key>airplane</key>
					<dict>
						<key>animationtime</key>
						<string>16.0</string>
					</dict>
					<key>path</key>
					<array>
						<dict>
							<key>x</key>
							<string>1024</string>
							<key>y</key>
							<string>215</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>528</string>
							<key>y1</key>
							<string>347</string>
							<key>px1</key>
							<string>913</string>
							<key>py1</key>
							<string>278</string>
							<key>px2</key>
							<string>720</string>
							<key>py2</key>
							<string>355</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>0</string>
							<key>y1</key>
							<string>356</string>
							<key>px1</key>
							<string>370</string>
							<key>py1</key>
							<string>348</string>
							<key>px2</key>
							<string>168</string>
							<key>py2</key>
							<string>336</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>0</string>
							<key>y1</key>
							<string>710</string>
							<key>px1</key>
							<string>-200</string>
							<key>py1</key>
							<string>354</string>
							<key>px2</key>
							<string>-100</string>
							<key>py2</key>
							<string>710</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>528</string>
							<key>y1</key>
							<string>680</string>
							<key>px1</key>
							<string>168</string>
							<key>py1</key>
							<string>730</string>
							<key>px2</key>
							<string>370</string>
							<key>py2</key>
							<string>710</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>1023</string>
							<key>y1</key>
							<string>625</string>
							<key>px1</key>
							<string>720</string>
							<key>py1</key>
							<string>640</string>
							<key>px2</key>
							<string>913</string>
							<key>py2</key>
							<string>620</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>1023</string>
							<key>y1</key>
							<string>437</string>
							<key>px1</key>
							<string>1123</string>
							<key>py1</key>
							<string>630</string>
							<key>px2</key>
							<string>1223</string>
							<key>py2</key>
							<string>425</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>815</string>
							<key>y1</key>
							<string>545</string>
							<key>px1</key>
							<string>938</string>
							<key>py1</key>
							<string>485</string>
							<key>px2</key>
							<string>866</string>
							<key>py2</key>
							<string>520</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>719</string>
							<key>y1</key>
							<string>500</string>
							<key>px1</key>
							<string>766</string>
							<key>py1</key>
							<string>568</string>
							<key>px2</key>
							<string>719</string>
							<key>py2</key>
							<string>555</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>airplane</key>
					<dict>
						<key>animationtime</key>
						<string>16.0</string>
					</dict>
					<key>path</key>
					<array>
						<dict>
							<key>x</key>
							<string>1024</string>
							<key>y</key>
							<string>215</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>528</string>
							<key>y1</key>
							<string>347</string>
							<key>px1</key>
							<string>913</string>
							<key>py1</key>
							<string>278</string>
							<key>px2</key>
							<string>720</string>
							<key>py2</key>
							<string>355</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>0</string>
							<key>y1</key>
							<string>356</string>
							<key>px1</key>
							<string>370</string>
							<key>py1</key>
							<string>348</string>
							<key>px2</key>
							<string>168</string>
							<key>py2</key>
							<string>336</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>0</string>
							<key>y1</key>
							<string>710</string>
							<key>px1</key>
							<string>-200</string>
							<key>py1</key>
							<string>354</string>
							<key>px2</key>
							<string>-100</string>
							<key>py2</key>
							<string>710</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>528</string>
							<key>y1</key>
							<string>680</string>
							<key>px1</key>
							<string>168</string>
							<key>py1</key>
							<string>730</string>
							<key>px2</key>
							<string>370</string>
							<key>py2</key>
							<string>710</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>1023</string>
							<key>y1</key>
							<string>625</string>
							<key>px1</key>
							<string>720</string>
							<key>py1</key>
							<string>640</string>
							<key>px2</key>
							<string>913</string>
							<key>py2</key>
							<string>620</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>1023</string>
							<key>y1</key>
							<string>437</string>
							<key>px1</key>
							<string>1123</string>
							<key>py1</key>
							<string>630</string>
							<key>px2</key>
							<string>1223</string>
							<key>py2</key>
							<string>425</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>815</string>
							<key>y1</key>
							<string>545</string>
							<key>px1</key>
							<string>938</string>
							<key>py1</key>
							<string>485</string>
							<key>px2</key>
							<string>866</string>
							<key>py2</key>
							<string>520</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>719</string>
							<key>y1</key>
							<string>510</string>
							<key>px1</key>
							<string>766</string>
							<key>py1</key>
							<string>568</string>
							<key>px2</key>
							<string>719</string>
							<key>py2</key>
							<string>555</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>719</string>
							<key>y1</key>
							<string>319</string>
							<key>px1</key>
							<string>724</string>
							<key>py1</key>
							<string>459</string>
							<key>px2</key>
							<string>735</string>
							<key>py2</key>
							<string>381</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>635</string>
							<key>y1</key>
							<string>217</string>
							<key>px1</key>
							<string>702</string>
							<key>py1</key>
							<string>273</string>
							<key>px2</key>
							<string>694</string>
							<key>py2</key>
							<string>236</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>539</string>
							<key>y1</key>
							<string>369</string>
							<key>px1</key>
							<string>585</string>
							<key>py1</key>
							<string>217</string>
							<key>px2</key>
							<string>540</string>
							<key>py2</key>
							<string>259</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>588</string>
							<key>y1</key>
							<string>707</string>
							<key>px1</key>
							<string>544</string>
							<key>py1</key>
							<string>459</string>
							<key>px2</key>
							<string>566</string>
							<key>py2</key>
							<string>564</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>544</string>
							<key>y1</key>
							<string>672</string>
							<key>px1</key>
							<string>586</string>
							<key>py1</key>
							<string>768</string>
							<key>px2</key>
							<string>540</string>
							<key>py2</key>
							<string>731</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>605</string>
							<key>y1</key>
							<string>553</string>
							<key>px1</key>
							<string>557</string>
							<key>py1</key>
							<string>634</string>
							<key>px2</key>
							<string>586</string>
							<key>py2</key>
							<string>598</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>575</string>
							<key>y1</key>
							<string>447</string>
							<key>px1</key>
							<string>621</string>
							<key>py1</key>
							<string>505</string>
							<key>px2</key>
							<string>605</string>
							<key>py2</key>
							<string>459</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>539</string>
							<key>y1</key>
							<string>624</string>
							<key>px1</key>
							<string>530</string>
							<key>py1</key>
							<string>448</string>
							<key>px2</key>
							<string>521</string>
							<key>py2</key>
							<string>535</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>460</string>
							<key>y1</key>
							<string>584</string>
							<key>px1</key>
							<string>539</string>
							<key>py1</key>
							<string>685</string>
							<key>px2</key>
							<string>446</string>
							<key>py2</key>
							<string>700</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>386</string>
							<key>y1</key>
							<string>513</string>
							<key>px1</key>
							<string>462</string>
							<key>py1</key>
							<string>546</string>
							<key>px2</key>
							<string>439</string>
							<key>py2</key>
							<string>516</string>
						</dict>
						<dict>
							<key>x1</key>
							<string>335</string>
							<key>y1</key>
							<string>637</string>
							<key>px1</key>
							<string>343</string>
							<key>py1</key>
							<string>516</string>
							<key>px2</key>
							<string>329</string>
							<key>py2</key>
							<string>568</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>stages</key>
	<array>
		<dict>
			<key>groups</key>
			<array>
				<dict>
					<key>start</key>
					<dict>
						<key>airplane</key>
						<dict>
							<key>animationtime</key>
							<string>5.0</string>
						</dict>
						<key>path</key>
						<array>
							<dict>
								<key>x</key>
								<string>719</string>
								<key>y</key>
								<string>510</string>
							</dict>
							<dict>
								<key>x1</key>
								<string>-100</string>
								<key>y1</key>
								<string>510</string>
								<key>px1</key>
								<string>452</string>
								<key>py1</key>
								<string>340</string>
								<key>px2</key>
								<string>175</string>
								<key>py2</key>
								<string>390</string>
							</dict>
						</array>
					</dict>
					<key>end</key>
					<dict>
						<key>airplane</key>
						<dict>
							<key>animationtime</key>
							<string>5.0</string>
						</dict>
						<key>path</key>
						<array>
							<dict>
								<key>x</key>
								<string>-100</string>
								<key>y</key>
								<string>360</string>
							</dict>
							<dict>
								<key>x1</key>
								<string>540</string>
								<key>y1</key>
								<string>360</string>
								<key>px1</key>
								<string>221</string>
								<key>py1</key>
								<string>522</string>
								<key>px2</key>
								<string>540</string>
								<key>py2</key>
								<string>460</string>
							</dict>
						</array>
					</dict>
				</dict>
				<dict>
					<key>start</key>
					<dict>
						<key>airplane</key>
						<dict>
							<key>animationtime</key>
							<string>5.0</string>
						</dict>
						<key>path</key>
						<array>
							<dict>
								<key>x</key>
								<string>540</string>
								<key>y</key>
								<string>360</string>
							</dict>
							<dict>
								<key>x1</key>
								<string>-100</string>
								<key>y1</key>
								<string>510</string>
								<key>px1</key>
								<string>452</string>
								<key>py1</key>
								<string>340</string>
								<key>px2</key>
								<string>175</string>
								<key>py2</key>
								<string>390</string>
							</dict>
						</array>
					</dict>
					<key>end</key>
					<dict>
						<key>airplane</key>
						<dict>
							<key>animationtime</key>
							<string>5.0</string>
						</dict>
						<key>path</key>
						<array>
							<dict>
								<key>x</key>
								<string>-100</string>
								<key>y</key>
								<string>360</string>
							</dict>
							<dict>
								<key>x1</key>
								<string>540</string>
								<key>y1</key>
								<string>360</string>
								<key>px1</key>
								<string>221</string>
								<key>py1</key>
								<string>522</string>
								<key>px2</key>
								<string>540</string>
								<key>py2</key>
								<string>460</string>
							</dict>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
